[user]
email = ian.currie@bynder.com
name = Ian Currie

[alias]
pushall = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
commitall = "!f() { git add -A && git commit -m \"$@\"; }; f"
amendpush = "!f() { git add -A && git commit --amend --no-edit && git push -f; }; f"
amm = commit --amend --no-edit
ll = log --graph --decorate --oneline -n 20
last = log -1
recent = log -10 --oneline --graph --decorate
s = status
[safe]
directory = *
[core]
autocrlf = input
pager = diff-so-fancy | bat --paging=always --style=plain
[init]
defaultBranch = main
[core]
editor = "$(command -v nvim || echo 'vi')"
[push]
autoSetupRemote = true
[interactive]
diffFilter = diff-so-fancy --patch
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
